body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #C6DCE5;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

header{
    background-color: #D9EAEC;
    text-align: center;
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
}


.profilePicture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D9EAEC;
  text-align: center;
}

.footer-items{
    color: black;
}

.footer .nav-link {
    color: black;
    text-decoration: none;
}

.profileNavSection {
    display: flex;
    align-items: center;
}

.profileText {
    display: flex;
    flex-direction: column; 
    text-align: right;      
    margin-right: 8px;      
}

.profileText .usernameText,
.profileText .logOut {
    font-size: 0.2rem;
    line-height: 1;
}

.profileNavSection .profileText #usernameText,
.profileNavSection .profileText #logOut {
    font-size: 0.8rem;
    line-height: 1.2;
}

#container {
    padding-top: 9vh;
    padding-bottom: 20vh;

}