#main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0;
    font-family: Arial, sans-serif;
}

#title{
    margin-bottom: 1vh;
    color: #000;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 22vw;
    height: 5vh;
}

#optionA, #optionB {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40vw;
    height: 60vh;
    padding: 30px 40px;
    min-width: 200px;
    text-align: center;
    border-radius: 12px;
    box-sizing: border-box;
    color: #333;
}

#optionA{
    float: left;
    background-color: #C4DCB7;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#optionB{
    float: right;
    background-color: #AFA3D0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#or {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 10vw;
    height: 18vh;
    border-radius: 100px;
    
    background: #C6DCE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 80%;
}

.quit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3.125vw;
    box-shadow: 0 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 16vw;
    height: 6vh;
    background: #d83e7c;
    text-decoration: none;
    margin-top: 3vh;

}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh;          
    position: relative;
}