{% extends "base.html" %}

{% block title %}Edit Prompt{% endblock %}

{% block content %}
    <h1>Edit Prompt for {{ prompt.game.name }}</h1>
    <p><strong>Created:</strong> {{ prompt.created_at }}</p>

    <div>
        <form method="post" action="{% url 'edit_prompt' prompt.id %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.label_tag }}<br/>
                {{ field }}<br/><br/>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>
    </div>
{% endblock %}