{% extends "games/game_base.html" %}
{% load static %}
{% block title %}Play{% endblock %}

{% block game_title %}<a id="title">Never Have I Ever ...</a>{% endblock %}

{% block game_content %}
    <link rel="stylesheet" type="text/css" href ="{% static 'neverHaveIEverStyle.css' %}"/>

    <div id = "content">

    <div id='prompt'></div>

    <div class="button-container">
    <button class="btn btn-primary" id = "nextButton" onclick="nextPrompt()">Next Prompt</button>

    <a class='quit-button' href="{% url 'home' %}">Quit</a>
    </div>

    {{ prompts|json_script:"prompt-data" }}

    <script>
        const prompts = JSON.parse(document.getElementById("prompt-data").textContent);
        
        let index = 0;

        function showPrompt(){
            document.getElementById("prompt").innerText = prompts[index] || "There are no prompts created";
        }

        function nextPrompt(){
            index = (index + 1) % prompts.length;
            showPrompt();
        }

        showPrompt();
    </script>
    </div>

{% endblock %}