{% extends "games/game_base.html" %}
{% load static %}
{% block title %}Play{% endblock %}

{% block game_title %}<a id="title">Truth Or Dare</a>{% endblock %}

{% block game_content %}

    <link rel="stylesheet" type="text/css" href ="{% static 'truthOrDareStyle.css' %}"/>

    <div id="main">
    <div id='truth_prompt' onclick="nextTruthPrompt()"><span>Click for truth</span></div>
    <div id="or" onclick="resetPrompts()">OR</div>
    <div id='dare_prompt' onclick="nextDarePrompt()"><span>Click for dare</span></div>
    </div>

    {{ truth_prompts|json_script:"truth-prompt-data" }}
    {{ dare_prompts|json_script:"dare-prompt-data" }}

  
    {% block scripts %}
     <script src="{% static 'truthordare.js' %}"></script>
    {% endblock %}
   
{% endblock %}