{% extends "games/game_base.html" %}
{% load static %}

{% block title %}{{ game_title }}{% endblock %}

{% block game_title %}Game Options for {{ game_title }}{% endblock %}

{% block game_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'game_baseStyle.css' %}"/>
    <div class="GameOptions">
        <a id="playGameButton" class="btn" href="{% url 'game_play' slug=slug %}">Play {{ game_title }}</a>
        <a id="viewPromptsButton" class="btn" href="{% url 'game_prompts' slug=slug %}">View Prompts</a>
    </div>
    <div class = "description">{{game_description}}</div>
{% endblock %}
