#playGameButton{

    background: #C4DCB7;
}

#viewPromptsButton{
    background: #888ED1;
    
}

.GameOptions{
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    gap: 4vw;
}

#viewPromptsButton, #playGameButton{
    width: 25vw;
    height: 10.7vh;
    border-radius: 90px;
    color: #000;
    font-family: Inter;
    font-size: 2vw;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}




