{% extends "games/game_base.html" %}

{% block title %}
    {{ slug|capfirst }}
{% endblock %}


{% block gameTitle %} 
    Game Options for {{game_title|title}} 
{% endblock %}


{% block playGameName %}
    Play {{ slug|capfirst }}
{% endblock %}

{% block playGameUrl %}
    /games/{{ slug }}/play/
{% endblock %}

{% block viewPromptsUrl %}
    /games/{{ slug }}/prompts/
{% endblock %}

<a href="/games/{{ slug }}/play/">Play {{ slug|capfirst }}</a><br>

<a href="/games/{{ slug }}/prompts/">View Prompts</a>

