{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home Page</h1>
<p>Home page works.</p>

<div>
    <h2> Top 5 Prompts </h2>

            {% if  prompts %}
            <table class="table">
                {% for prompt in prompts %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>FROM GAME - {{ prompt.game }}, PROMPT - {{ prompt.text }}, UPVOTES - {{ prompt.upvote_count }} </td>
                </tr>
                {% endfor %}
            </table>

    {% else %}
    <strong>There are no prompts present</strong>
    {% endif %}

</div>

    <div>
        <p>Add a New Prompt</p>
    </div>


{% endblock %}
