{% extends "games/game_base.html" %}
{% load static %}
{% block title %}Play{% endblock %}
{% block game_title %}<a id="title"></a>Play Would You Rather</a>{% endblock %}

{% block game_content %}

    <link rel="stylesheet" type="text/css" href ="{% static 'wouldYouRatherStyle.css' %}"/>

    <div id ="main">
    <div id="optionA" class="option-card" onclick="nextPrompt()"><span>This</span></div>
    <div id="or">OR</div>
    <div id="optionB" class="option-card" onclick="nextPrompt()"><span>That</span></div>
    </div>

    {{ prompts|json_script:"prompt-data" }}

    <script>
        const prompts = JSON.parse(document.getElementById("prompt-data").textContent);

        let index = 0;

        function showPrompt(){

            if(prompts.length == 0){
                document.getElementById("optionA").innerText = "No prompts";
                document.getElementById("optionB").innerText = "";
                return;
            }

            const [optionA, optionB] = prompts[index].split("|");

            document.getElementById("optionA").innerText = optionA;
            document.getElementById("optionB").innerText = optionB;
        }

        function nextPrompt(){
            index = (index + 1) % prompts.length;
            showPrompt();
        }

        showPrompt();
    </script>
{% endblock %}