{% extends "games/game_base.html" %}
{% load static %}
{% block title %}Play{% endblock %}

{% block game_title %}<a id="title">Would You Rather</a>{% endblock %}
{% block game_content %}
   
    <link rel="stylesheet" type="text/css" href ="{% static 'wouldYouRatherStyle.css' %}"/>

    <div id ="main">
    <div id="optionA" class="option-card" onclick="nextPrompt()"><span>This</span></div>
    <div id="or">OR</div>
    <div id="optionB" class="option-card" onclick="nextPrompt()"><span>That</span></div>
    </div>

    <div class = "button-container">
        <a class='quit-button' href="{% url 'home' %}">Quit</a>
    </div>
    

    {{ prompts|json_script:"prompt-data" }}

    {% block scripts %}
     <script src="{% static 'wouldYouRather.js' %}"></script>
    {% endblock %}
{% endblock %}